@font-face {
    font-family: Messina Sans Regular;
    src: url(../resources/fonts/MessinaSansWebTrial-Regular.woff2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-sand: #D6CFBF;
    --color-nude: #C0A68D;
    --color-clay: #AB8266;
    --color-mud: #4E413B;
    --color-moss: #778A78;
    --color-sage: #B2AC88;

}

h1, h2, h3, h4, h5, h6, a, p{
    font-weight: 100;
    color: white;
}

body {
    font-family: 'Messina Sans Regular', sans;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.text {
    text-decoration: none;
    color: #fff;
    padding: 30px;
    transition: 300ms;
}

.text:hover {
    color: #999;
}